.container {
    width: 28px; /* Tamaño por defecto */
    height: 28px; /* Tamaño por defecto */
  }
  
  /* Para pantallas con un ancho mínimo de 1920px */
  @media (min-width: 1919px) {
    .container {
      width: 35px; /* Tamaño ajustado para pantallas grandes */
      height: 35px; /* Tamaño ajustado para pantallas grandes */
    }
  }
  
  /* Para pantallas con un ancho máximo de 767px */
  @media (max-width: 767px) {
    .container {
      width: 20px; /* Tamaño ajustado para pantallas pequeñas */
      height: 20px; /* Tamaño ajustado para pantallas pequeñas */
    }
  }
  