.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -5%;
  width: 100%;
  /* padding-bottom: 5vh; */
 }
.links {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.logo {
  display: flex;
   align-items: center;
   padding-left:1%;
   width: 20%;
}
.logoImg {
  transform: scale(1); /* Ajusta el factor de escala para reducir el tamaño */
 width: auto; /* Deja que el ancho se ajuste automáticamente */
 
}
@media (max-width: 767px) {
  .container {
    display: flex;
   flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 -5%;
    width: 100%;
    margin-bottom: 10vh;
     
   }
   .links {
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
  }

 
  
 .logo {
     width: 75%; /* Ajusta el ancho del contenedor del logo en pantallas pequeñas */
    
    padding-top: 15px;
  }
 .logoImg {
   transform: scale(0.5); /* Ajusta el factor de escala para reducir el tamaño */
  width: auto; /* Deja que el ancho se ajuste automáticamente */
  
}
}