.buttonProps {
  background-color: #ff6a0f;
  
  padding: 15px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

@media (max-width: 767px) {
  .buttonProps {
    font-size: 16px;
  }
}
 
@media (min-width: 1919px) {
  .buttonProps {
    font-size: 24px;
  }
}
