/* navbar.module.css */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
   
  padding-top: 3.7vh;
}

.logo {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.47vw;
}

.links a {
  text-decoration: none;
}

.links a p {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  width: 100%;
}

/* Estilos para el menú hamburguesa */
.hamburger {
  display: none; /* Ocultar el botón en pantallas grandes */
  font-size: 24px;
  cursor: pointer;
  color: white;
  position: absolute; /* Posicionar el botón fuera del flujo normal */
  right: 1rem; /* Ajusta la distancia desde el borde izquierdo */
  top: 0rem; /* Ajusta la distancia desde la parte superior si es necesario */
}


@media (max-width: 767px) {
  .container {
     display: flex;
    
    /* background-color: blue; */
    height: 10vh;
     position: absolute;
     /* background-color: rebeccapurple;  */
   }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 100%;
    height: calc(100vh - 60px); /* Ajusta la altura según sea necesario */
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000; /* Asegúrate de que el menú esté por encima */
  }

  .links.open {
    transform: translateX(0);
  }

  .links a p {
    font-size: 20px;
    padding: 1rem;
  }

  
  .hamburger{
    /* background-color: aqua; */
    display: block;
   }
  .logo {
    /* background-color: aqua;   */
   margin-top:-10px;
   margin-left:10px;
    width: 100%; /* Ajusta el ancho del contenedor del logo en pantallas pequeñas */
    justify-self: center;
    align-self: center;
    height: auto;
     /* background-color: aqua; */
   }
  
  /* .logo .logoimg {
    
    width: 50%;  
    height: auto;
    } */
    .logoimg {
      width: 400px; /* Tamaño más pequeño para dispositivos móviles */
      height: 250px;
      margin-left: -135px;
      transform: scale(0.4);
    }
}

@media (min-width: 768px) {
  .container {
    /* display: flex;
    justify-content: ;
    align-items: center; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /* padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 3.7vh; */
  }
  .hamburger {
    display: none; /* Ocultar el botón en pantallas grandes */
     
  }
 
  
}
