 
.navbar{
  width:100%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  z-index: 1000;
   width: 100%; 
 padding-top: 0%;

  /* height: 10vh; */
   top: 0;
  z-index: 10;
}
.logo {
  width: 25%;
  display: flex;
   align-items: center;
  padding-left: 4%;
  }
 .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.47vw;
  width: 50%;
 }

.links a {
  text-decoration: none;
}

.links a p {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  width: 100%;
}

.hamburger {
  display: none;  
  
}
.logoimg{
  width: 100%;
  height: auto;
}


 
@media (max-width: 767px) {
  .container {
     display: flex;
    
    /* background-color: blue; */
    height: 10vh;
     position: fixed;
     /* background-color: rebeccapurple;  */
   }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 100%;
    height: calc(100vh - 60px); /* Ajusta la altura según sea necesario */
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000; /* Asegúrate de que el menú esté por encima */
  }

  .links.open {
    transform: translateX(0);
  }

  .links a p {
    font-size: 20px;
    padding: 1rem;
  }

  
  .hamburger{
    /* background-color: aqua; */
    display: block;
    font-size: 24px;
    cursor: pointer;
    color: white; /* Posicionar el botón fuera del flujo normal */
    right: 1rem;  
    top: 0rem;  
   }
  .logo {
    margin-top:-10px;
   margin-left:100px;
    width: 100%; /* Ajusta el ancho del contenedor del logo en pantallas pequeñas */
    justify-self: center;
    align-self: center;
    height: auto;
     /* background-color: aqua; */
   }
  
 
    .logoimg {
      width: 400px; /* Tamaño más pequeño para dispositivos móviles */
      height: 250px;
      margin-left: -135px;
      transform: scale(0.4);
      margin-top: 4%;
    }
}
 
@media (max-width: 767px) {
  
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 35px;
    right: 0;
     width: 100%;
    height: calc(100vh - 35px); /* Ajusta la altura según sea necesario */
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000; /* Asegúrate de que el menú esté por encima */
  }

  .links.open {
    transform: translateX(0);
  }

  .links a p {
    font-size: 20px;
    padding: 1rem;
  }

  
  .hamburger{
   /* background-color: aqua;   */
    display: block;
    font-size: 24px;
    cursor: pointer;
    color: white; /* Posicionar el botón fuera del flujo normal */
    right: 20%;  
    top: 0rem;  
    margin-top: -7.5%;
    padding-right: 3%;
   }
  .logo {
    /* background-color: aqua;   */
   margin-top:5%;
   margin-left:0;
    width: 100%; /* Ajusta el ancho del contenedor del logo en pantallas pequeñas */
    justify-self: center;
    align-self: center;
    height: auto;
     /* background-color: aqua; */
   }
  
 
    .logoimg {
      width: 400px; /* Tamaño más pequeño para dispositivos móviles */
      height: 250px;
      margin-left: -135px;
      transform: scale(0.4);
    }
    .buttonCall{
      margin-left: -10%;
      padding-top: 5%;
    }
}

 
@media (min-width: 1919px) {
  .links a p {
    font-size: 26px;
  }
 
  
}
