@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

 
 .container {
   height: 105vh; 
   /* background-color: violet; */
    background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 232, 251, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 232, 251, 1) 60%,
    rgba(253, 194, 49, 0.58) 100%
  );  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   padding-left: 6.2%;
}
.starSection {
  /* background-color: red; */

  align-self: flex-end;
  /* height: 10vh; */
   padding-right:  7%;
    /* background-color: aqua;  */
   height: 10.7%; 
}
.star1{
  width: 100%;
  height: auto;
 }
.passwored {
    height:25.3%;  
    padding-right: 7%;
  height: 42%;   
   /* background-color: green;  */
    
}

.resultados {
    display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
    align-items: flex-start;
   /* height: 50vh; */
   width: 61%;
   height: 30.8%;  
    /* background-color: red;  */
    
}
.rocketStar { 
   /* background-color: green;  */

   /* background-color: violet;   */
   display: flex;
     height: auto;  
     justify-content: space-between;  
   
   position: relative;
 }
.star2 {
 padding-top: 5%;
   align-self:   flex-end;
width: 3%;
 }
.star22{
  width: 100%; height: auto;
}
.rocket {
  /* background-color: aqua; */
  position: absolute;  
  bottom: 0;  
   width: 35%;   
  height: auto; 
 right: 0;
  }
 .rocket2{
   width:100%;   
  height: auto; 
 }
.subtitle {
  text-align: left;
  font-size:48px; margin-bottom: 2%;
  font-weight: bold;
    font-family: 'Montserrat', sans-serif;
 
    font-weight: 600;
    padding: 0;
    margin: 0;
  }
.text {text-align: left;
  font-size: 18.3px; 
  font-family: 'Inter', sans-serif;
     font-weight: 400;
}
h3 {
  /* font-size: 32px; */
  font-size: 3rem;
   
} 
.section31{
  display: none;
}
@media (min-width: 1919px) {
  .subtitle {
    font-size: 64px; /* Tamaño de fuente para pantallas de 1920px */
  }
  .text{
    font-size: 24px;
     
  font-family: 'Inter', sans-serif;
     font-weight: 400;
  }
  h3 {
    /* font-size: 32px; */
    font-size: 100px;
     
  } 
}
@media (max-width: 767px) {
  .container {
    height: 110vh; 
    /* background-color: violet; */
     background: linear-gradient(
     to bottom,
     rgba(255, 255, 255, 1) 0%,
     rgba(255, 255, 255, 1) 100%
   );
   background: linear-gradient(
     to bottom,
     rgba(255, 255, 255, 1) 0%,
     rgba(255, 255, 255, 1) 60%,
     rgba(255, 255, 255, 1) 100%
   );  
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    margin-left: -6.2%;
    padding-top: 15%;
 }
  .section31{
    display: flex;
 /* background-color: red; */
 
    padding-top: 23%;
    background-color: white;
  }
   .star211{
    display: none;
    background-color: white;

   }
   .rocketStar .rocket{
    display: none;
   }
   .star2 {
 
    align-self:   flex-end;
 width: 5%;
 padding-left: 5%;
  }
 .star22{
   width: 100%; height: auto;
 }
 .rocket{
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  background-color: blue;

  height: auto;
  background-color: transparent; }
 .rocket2 {
   /* background-color: aqua; */
   position: absolute;  
   align-self: flex-end;
   /* top: 700px;   */
    width: 100%;   
   height: auto; 
  left: 0;
  bottom: 0;
    }
   .subtitle{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 5%;
    font-weight: 600;
   }
   .text{
    font-size:16px ;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding-right: 5%;
    }
   .star1{
    display: none;
   }
   .passwored{
    height: 45%;
    background-color: white;
 /* background-color: aqua;  */
   }
   .section31  {
    height: 15%;
     display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }
   .resultados{
    padding-top: 5%;
    height: max-content;
    background-color: #EEE8FB;
    width: 100%;
    /* background-color: blue; */

   }
   .rocketStar{
    height: auto;
    background-color: #EEE8FB;
     /* background-color: green;  */
     padding-top: 10%;

   }
   
}
 
 