@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.navbar {

  z-index: 1; 
}
.section {
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.section21 {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  
  display: none;
}

.section1 {
  display: flex;
   flex-direction: column;
  justify-content: center;
  width: 40%;
  box-sizing: border-box;
 }

.star1 {
  align-self: flex-start;
  padding-left: 4%;
  width: 9%;
}
.star11 {
  align-self: flex-start;
  width: 100%;
  height: auto;
}

.text1 {
  /* width: 105%; */
  /* padding-left: 20.3%; */
  /* align-self: flex-start; */

  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-weight: 400;
 }
 .text1Mobile {
  display: none;
}
.star2 {
  /* background-color: aqua; */
  align-self: flex-end;
  /* padding-right: 10%; */
  width: 9%;
  margin-top: -10%;
 }
.star22 {
  align-self: flex-end;
  width: 100%;
  height: auto;
  padding-left: 50%;

}
.star12 {
  align-self: flex-end;
  padding-right: 10%;
  width: 9%;
  display: none;
}
.star122 {
  align-self: flex-end;
  width: 100%;
  height: auto;
}
.star3 {
  padding-left: 13.5%;}
.section2 {
  position: relative;
  
   
  width: 60%;
   }
   /* .desc{
    background-color: blueviolet;
    padding-left: ;
   } */
.backgroundImage {
  position: absolute;
  top: 0;
  left: 00;
  z-index: 2;
  /* height: 846px; */
  width: 100%;
  height: auto;
 }

.backImage {
   position: relative;
  z-index: 1;
  left: 3%;
  width: 100%;
  height: auto;
  /* position: relative;
  z-index: 1;
  right: 1%;
  top:0%;
  width: 100%;
  height: auto; */
}
.star21 {
  display: none;
}
.desc{
   width: 131.7%;
  padding-left: 17.5%;
 }
@media (min-width: 1919px) {
  .text1 {
    font-size: 64px;
  }
}
@media (max-width: 767px) {
  .text1{
    display: none;
  }
  .text1Mobile {
    font-family: "Montserrat", sans-serif;
    display: flex;
    font-size: 24px;
    font-weight: 400;
    /* background-color: red; */
    width: 150%;
  }
  .desc {
     margin-top: -20px;
    width: 150%;
  }
  .star1 {
    align-self: flex-start;
    padding-left: 4%;
    width: 9%;

    padding-left: 11%;
  }
  .star3 {
    width: 250%;
  }
  .star2 {
    display: none;
  }
  .section1 {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    width: 34%;
  }
  .section2 {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    width: 66%;
    height: auto;
    display: none;
  }
  .section21 {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    position:relative;
     width: 62%;
    height: auto;
    display: flex;
  }
  .star12 {
    align-self: flex-end;
    margin-right: -20%;
    width: 15%;
    display: flex;
   padding-top: 80%;   
     
   }
  .star122{

  }
  .backgroundImagePhone{
width: 100%;
height: auto;
  }
  .backImage{
    width: 100%;
    height: auto;
  }
  .star1 {
    margin-top: 50%;
    margin-left: 10%;
    width: 15%;
  }
  .star21 {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    width: 150%;
   }
  .star21 {
    position: absolute;
    right: 0;
    padding-right: 10%;
    top: 60%;
    /* transform: translateY(-100%); */
    width: 20%;
    margin-top: 10%;

  }
  .star22 {
    height:  auto;
    width: 100%;
   }
   .backgroundImagePhone{
    position: absolute;
    top: 0%;
    left: 00%;
    z-index: 2;
    /* height: 846px; */
    width: 100%;
    /* height:60%; */
   }
  
  .backImagePhone {
     position: absolute;
    z-index: 1;
     top: 0%; 
    left: 0%;
    width: 100%;
    /* height: 60%; */
    
    /* position: relative;
    z-index: 1;
    right: 1%;
    top:0%;
    width: 100%;
    height: auto; */
  }
}
