.container {
  background-image: url("../assets/fondo1Screen.png"),
    url("../assets/fondo2Screen.png");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 105% auto;
  background-position: top 0% right, top 5% left;
  padding-left: 7%;
  padding-right: 7%;

  padding-bottom: 12%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.boxEvolution {
  height: max-content;
  padding-left: 5%;
  width: 100%;
  margin-top: 20%;
  padding-top: 5%;

  border-radius: 20px;
  padding-bottom: 3%;
  background: linear-gradient(
      to left,
      rgba(159, 110, 215, 0.75) 50%,
      rgba(254, 220, 136, 1) 100%
    ),
    url("../assets/backInvertir.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.buttonProps {
  background-color: #ff6a0f;

  padding: 20px;
  width: 22%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

@media (max-width: 767px) {
  .container {
    background-image: url("../assets/fondoInvertir1.png"),
      url("../assets/fondoInvertir2.png"),
      linear-gradient(#fedc88, #fedc88 400px, transparent 400px, transparent);
    background-size: 00px contain, 00px contain, cover;
    background-position: top 400px left, top 400px left, top 0px left;
  }

  .boxEvolution {
    width: 155%;
    margin-top: 95%;
  }

  .buttonProps {
    padding: 10px;
    width: 45%;
    font-size: 15px;
  }
}

@media (min-width: 1919px) {
  .buttonProps {
    font-size: 24px;
  }
}
