@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
.starSection{
  display: none;
}
 .container{
    /* height: 150vh; */
    background: linear-gradient(
        to bottom,
        #FFFFFF 0%,  /* Blanco al 0% */
        #EEE8FB 50%, /* Lila al 50% */
        rgba(253, 194, 49, 0.58) 100% /* Amarillo semitransparente al 100% */
    );
 padding-left: 0%;
  /* padding-right: 7.34%; */
 
 width: 100%;
    /* padding-right: 10%;  */
;}
.seccion1{
    /* height: 66%;  */
    display: flex;
    /* align-items: center; */
    justify-content: center;
      width: 100%;
      padding-bottom: 7%;
 }
.seccion1 h2{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  
}
.imgContainer{
   /* background-color: red;   */
   width: 47.3%;
    
}
.seccion2{
     padding-left: 5.3%;
    padding-bottom: 6%;
    height: 34%; 
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    width: 62.6%;
 /* background-color: blue;  */

 }
.seccion2 p {
   text-align: left;
   font-family: 'Inter', sans-serif;
font-weight: 400;
 font-size: 18.3px;
 margin-top: -2%;
}
 

 .content{
     /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: -3%; */
    /* align-self: flex-start; */
    width: 52.7%;
 }
.seccion2 h2{
   padding: 0;
   font-family: 'Montserrat', sans-serif;
font-weight: 600;
 
}
 .content p{
    text-align: left;
    font-size: 19px;
    width: 75%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    
 }
 .content h2{
   margin: 0;
   padding: 0;
   padding-top:5%;
   align-self: center;
    font-size: 48px;
    width: 75%;
    font-family: 'Montserrat', sans-serif;
font-weight: 600;
    margin: 0; /* Asegura que no haya márgenes que desalineen el título */
    align-self: center; /* Alinea el h2 a la izquierda dentro del contenedor .content */
  }
 .responsiveImage{
   width: 100%;
        align-self: flex-start;
        padding-left: 10.3%;

 }
 .content2{
   display: none;
  }
 @media (min-width: 1919px) {
    
   .content p {
    font-size: 25px;
    
    
  }
  .content h2{
    font-size: 64px;
    font-weight: 600;
  }
  .content2{
    display: none;
   }
   .seccion2 h2{
    padding: 0;
    font-family: 'Montserrat', sans-serif;
 font-weight: 600;
 font-size: 64px;
 }
 .seccion2 p{
  padding: 0;
  font-size: 25px;
font-weight: 400;
}
 }
 @media (max-width: 767px) {
  .starSection{
    display: flex;
    align-self: flex-end;
    width: 20%;
    height: 20%;

  }
  .star1{
     margin-top: -150%;
    width: 50%;
    height: 50%; 
  }
    .seccion1{
      display: flex;
      flex-direction: column;
      padding-top: 20%;
    }
    .imgContainer{
      width: 90%;
       align-self: center;
       margin-left: -20%;
       padding-top: 10%;
       padding-bottom: 7.5%;
    }
    .content{
     display: none;
    }
    .content2 p{
      font-weight: 400;
      }
     .seccion2 p{
      font-weight: 400;
     }
    .content2{
      display: flex;
      flex-direction: column;
      width: 90%;
      padding-left: 5%;
    }
    .content2 h2{
       margin: 0;
       padding-left: 5%;
 width: 50%;
    }
    .seccion2{
      width: 80%;
    }
    .seccion2 h2{
      padding-left: 5%;
    }
}