@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.container{
 /* background-color: blueviolet; */
    display: flex;
    /* height: 10vw;   */
    justify-content: space-between;  
  
  position: relative;
  margin-right: 2vw;
  padding-left: 2%;
}
.rocketContainer{
    position: absolute; /* Permite que la imagen se posicione en relación al contenedor */
  bottom: 0; /* Posiciona la imagen en el borde inferior */
   width: 35%;   
  height: auto; 
 right: 0;
}
.rocket{
    width: 100%;
    height: auto;
}

.start{
    align-self:   flex-end;
    width: 3%;
}

.star22{
    width: 100%; height: auto;
}
@media (max-width: 767px) {
    .container{
        height: 55vh;
        /* background-color: blueviolet;   */
        display: flex;
        justify-content: space-between;  
        position: relative;
        margin-right: 2vw;
        padding-left: 7%;
        align-items: flex-end;
    }

    .star2{
        
         
    }

    .rocketContainer{
        position: absolute; /* Permite que la imagen se posicione en relación al contenedor */
        bottom: 15vh; /* Cambia el valor de 'bottom' para que el cohete esté más arriba */
        width: 50%;   
        height: 75%; 
        right: 0;
    }

    .rocket{
        width: 100%;
        height:auto;
    }
}
