.container {
  background-image: url("../assets/fondo1Screen.png"),
    url("../assets/fondo2Screen.png");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: center 200px, center auto;
 
}
 

@media (max-width: 767px) {
  .gradient {
    background-image: url("../assets/fondo1screenmobile.png"),
      url("../assets/fondo2screenmobile.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center -15%, center -15%;
    background-size: 125%, 125%;
  }
}
